<p-dataView #dv [value]="cars" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-12 filter-container" style="text-align:center;">
                    <input type="search" pInputText placeholder="Search by brand"
                        (keyup)="dv.filter($event.target.value)" style="margin: 0 auto;">
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-car pTemplate="listItem">
        <div class="ui-g-12">
            <div class="car-details">
                <div>
                    <img src="{{rootUrl}}{{car.imagePath}}" style="width:240px;height:120px;">
                    <div class="ui-g">
                        <div class="ui-g-12">Brand: <b>{{car.brand}}</b></div>
                        <div class="ui-g-12">Model: <b>{{car.model}}</b></div>
                        <div class="ui-g-12">Colour: <b>{{car.colour}}</b></div>
                        <div class="ui-g-12">Combustible: <b>{{car.combustible}}</b></div>
                    </div>
                </div>
                <div>
                    <button pButton type="button" icon="pi pi-search" class=" btn"
                        routerLink="/car/{{car.carId}}"></button>
                    <button pButton type="button" icon="pi pi-trash" class=" btn ui-button-danger"
                        (click)="deleteCar(car.carId)" *ngIf="isAdmin || currentUserId===car.userId"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>